
  /*ul {
    list-style-type: none;
}
 /*h2 {
    margin:3%;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal; // normal,small cap,
    font-style: normal; //nomal,italic,oblique

}
body {
    margin: 5%;
} 
p {
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-variant: normal;
    font-style: normal;
    padding-left: 20px;
    font-size: 16px;
}


footer {
  
   /* margin-top:60%; 
    font-family: 'Courier New', Courier, monospace;
    font-variant:normal;
    font-style: normal;
    font-size: 100%;
    color: white;
    background-color: green;
    text-align: center;
}
*/
a{
    padding: 5px;
    padding-bottom: 1px;
    padding-left: 25px;
    margin: 5px;
    margin-bottom: 15px;
    font-size: 18px;
     color: blue;
    
   }
   #nav {
    list-style-type: none;
    margin: 20px;
    margin-top:10px;
    margin-top: 20px;
}
h3{
    padding-left: 20px;
    color: rgb(252, 54, 5);
    font-size: 20px;
    background-color: aqua;
}
h2{
    padding-left: 20px;
    color: rgb(252, 54, 5);
    font-size: 25px;
}
#rule{
    padding: 10px;
}
h4 {
    padding: 10px;
    margin: 10px;
    background-color: rgb(55, 0, 255);
    color: rgb(247, 242, 242);
}
ul {
   
    list-style-type: disc;
    padding: 0px;
    margin: 0px;
}

p {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
     font-variant: normal;
     font-style: normal;
     padding-left: 20px;
     font-size: 16px;
 }

 ol {
    list-style-type: decimal;
    padding: 10px;
    padding-left: 30px;
    padding-top:0px;
    padding-bottom: 0px;
    margin: 10px;
    margin-top: opx;
    background-color: bleviolet;
}
 dt{
     padding: 10px;
     margin: 2px;
     font-size: 18px;
     color:blue;
 }
 

footer {
  
    /* margin-top:60%; */
     font-family: 'Courier New', Courier, monospace;
     font-variant:normal;
     font-style: normal;
     font-size: 100%;
     color: white;
     background-color: green;
     text-align: center;
 }
 