 #nav {
    list-style-type: none;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
   
}

h3{
  padding-left: 10px;
  padding-top: 0px;
  color: rgb(252, 54, 5);
  font-size: 25px;
}
#first {
  padding: 20px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 10px;
  margin-top: 0;
}
#second {
  padding: 10px;
  padding-top: 10px;

}
h4{
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 10 px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-size: 20px;
  margin-block-start: 0px;
  color: rgb(247, 242, 242);
  background-color: rgb(55, 0, 255);
} 
/*
h4 {
  padding: 10px;
  padding-left: 10px;
  margin: 10px;
  background-color: rgb(55, 0, 255);
  background-position: 0px;
  color: rgb(247, 242, 242);
} */

/* header {
  /*  background-color: blue; 
   /* color: white;
}
body{
    margin: 5%;
    padding: auto;
    
} */
a{
  padding: 5px;
  padding-bottom: 1px;
  padding-left: 25px;
  margin: 5px;
  margin-bottom: 15px;
  font-size: 18px;
   color: blue;
  
 }
footer {
  
  /*  margin-top:60%; */
    font-family: 'Courier New', Courier, monospace;
    font-variant:normal;
    font-style: normal;
    font-size: 100%;
    color: white;
    background-color: green;
    text-align: center;
}
